.filter-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #fff;;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: none;
  background-color: rgba(255, 255, 255, .1);
  width: 70%;
  margin: 0 auto;
  padding: 1rem 0;
}

.refresh-btn {
  background: none;
  padding: 0;
  margin: auto 20px;
  border: none;
}

.checkbox-container {
  margin-right: .5rem;
  color: #fff;
}

.filter-select input{
  position: relative;
  left: 9%;
  height: 18px;
  width: 18px;
  margin: 0;
  visibility: hidden;
}

.checkbox-container input:checked ~ .checkmark {
  background-image: url('../../assets/images/checkmark.svg');

}

.checkmark {
  position: relative ;
  right: 5%;
  height: 1rem;
  width: 1rem;
  background-color: none;
  border: 1px white solid;
  border-radius: 2px;
}

.check-text {
  font-size: .8em;
}

.filter-select {
  display: inline-flex;
  margin-right: 2rem;
}

.check-img {
  max-height: 15px;
  max-width: 15px;
}

#refresh-img {
  border: 1px #fff solid;
  border-radius: 50%;
}
