h1 {
  text-align: center; }

  body {
    text-align: center;
    background-image: url('../assets/images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
  }
  
  li {
    background-color: rgba(255, 255, 255, .4);
    display: grid;
    margin: 5px 0;
    grid-template-columns: 13% 13% 13% 13% 13% 13% 13%;
    grid-template-rows: auto;
    grid-template-areas: 
      'badge name type date details id article';
    border-radius: 15px;
  }
  
  ul {
    list-style-type: none;
    display: inline-block;
    width: 80%;
  }
  
  .badge {
    grid-area: badge;
  }
  
  .name {
    grid-area: name;
  }
  
  .type {
    grid-area: type;
  }
  
  .date {
    grid-area: date;
  }
  
  .details {
    grid-area: details;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .id {
    grid-area: id;
  }
  
  .article {
    grid-area: article;
  }
  
  .article-img {
    height: 20px;
    width: 20px;
  }
  
  