body {
  text-align: center;
}

li {
  background-color: rgba(255, 255, 255, .4);
  display: grid;
  margin: 5px 0;
  grid-template-columns: 13% 13% 13% 13% 13% 13% 13%;
  grid-template-rows: auto;
  grid-template-areas: 
    'badge name type date details id article';
}

.selection {
  width: 80%;
  border: 1px #fff solid;
}
.nav-badge {
  grid-area: badge
}

.nav-name {
  grid-area: name
}

.nav-type {
  grid-area: type
}

.nav-date {
  grid-area: date
}

.nav-details {
  grid-area: details
}

.nav-id {
  grid-area: id
}

.nav-article {
  grid-area: article
}
